{% extends 'base.html' %}

{% block title %}
    Problem {{ problem.problem_id }}
{% endblock %}

{% block private_work %}
    <div class="container">
        <h2 style="text-align: center">{{ problem.title }}</h2>
        <table class="table table-sm " style="margin-top: 20px">
            <thead>
            <tr>
                <th scope="col">Time Limit</th>
                <th scope="col">Language</th>
                <th scope="col">Memory Limit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><h5><span class="badge badge-primary">{{ problem.time_limit_C }}</span></h5></td>
                <td><h5><span class="badge badge-success">C/Java</span></h5></td>
                <td><h5><span class="badge badge-info">{{ problem.memory_limit }}</span></h5></td>
            </tr>
            </tbody>
        </table>
        <div class="col-12">
            <h4>Description</h4>
            <p>{{ problem.description }}</p>
            <h4>Input</h4>
            <p>{{ problem.input_decscription }}</p>
            <h4>Output</h4>
            <p>{{ problem.output_decscription }}</p>
            <h4>Sample Input</h4>
            <pre>{{ problem.sample_input }}</pre>
            <h4>Sample Output</h4>
            <pre>{{ problem.sample_output }}</pre>
            <h4>Source</h4>
            <p>{{ problem.source }}</p>
        </div>
        <div>
            <form class="form-group" method="post" action="{% url 'submission:submission_list' 1 %}">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="problem" value="{{ problem.problem_id }}">
                <div style="margin-bottom: 10px; margin-top: 10px;width: 200px">
                    <select name="language" class="c-select form-control">
                        <option selected>Choose Language</option>
                        <option value="0">G++</option>
                        <option value="1">GCC</option>
                        <option value="2">C++</option>
                        <option value="3">C</option>
                        <option value="4">Pascal</option>
                        <option value="5">Java</option>
                        <option value="6">C#</option>

                    </select>
                </div>
                <div>
                    <textarea name="code" class="form-control" style="height: 300px"></textarea>
                </div>
                <div style="text-align: center;margin-top:20px;">
                    <div class="btn-group" role="group">
                        <button class="btn btn-info active">Submit
                        </button>
                        <a class="btn btn-primary active" href="#" role="button">Top</a>
                        <a class="btn btn-secondary active" href="#" role="button">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}