{% extends 'base.html' %}

{% load static %}

{% block title %} 用户登录 {% endblock %}

{% block private_css %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block private_work %}
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputusername" class="sr-only">Email address</label>
        <input type="text" id="inputusername" class="form-control" placeholder="Email address or username" required
               autofocus name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
               name="password">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        <div class="btn-group help-button">
            <button class="btn btn-success " type="submit">登录</button>
            <a href="{% url 'users:register' %}" class="btn btn-primary ">注册</a>
            <a href="{% url 'users:reset' %}" class="btn btn-info ">找回密码</a>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}