<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/public_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/public_css/oj_style.css' %}">
    {% block private_css %}
    {% endblock %}
    <title>{% block title %} Title {% endblock %}</title>
</head>

<body>
<div class="all_things container">
    {% block navbar %}
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Geeking</a>
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'problems:problem_list' 1 %}">题目列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">比赛列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">排名</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">状态</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            <a class="dropdown-item" href="#">问答</a>
                            <a class="dropdown-item" href="#">课堂</a>
                            <a class="dropdown-item" href="#">关于</a>
                        </div>
                    </li>
                </ul>
                <div class="form-inline my-2 my-md-0">
                    {% if request.user.username %}
                        <a class="btn btn-link " href="{% url 'users:profile' %}">{{ request.user.username }}</a>
                        <a class="btn btn-info" href="{% url 'users:logout' %}">注销</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'users:login' %}">登录</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block private_work %}
    {% endblock %}
</div>
</body>
<script src="{% static '/public_js/jquery.slim.min.js' %}"></script>
<script src="{% static '/public_js/popper.min.js' %}"></script>
<script src="{% static '/public_js/bootstrap.min.js' %}"></script>
</html>