
{% extends 'base.html' %}

{% block title %}
    比赛列表
{% endblock %}

{% block private_work %}
    <div class="container row">
        <div class="col-9">
            <h3>探索比赛</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Number of Applicants</th>
                </tr>
                </thead>
                <tbody>
                {% for contest in contest_list %}
                    <tr>
                        <td><a href="{% url 'contest:contest' contest.id %}">{{ contest.title}}</a></td>
                        <td> {{ contest.description}} </td>
                        <td> {{ contest.start_time}} </td>
                        <td> {{ contest.participant }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <h4>
                搜索比赛
            </h4>
            <form class="form-group" method="get">
                {% csrf_token %}
                <div style="margin-bottom: 10px; margin-top: 10px">
                    <select class="c-select form-control">
                        <option selected>Search in</option>
                        <option value="1">ID</option>
                        <option value="2">Title</option>
                    </select>
                </div>
                <div>
                    <input class="form-control" type="text" name="key">
                    <button class="btn btn-primary" type="submit" style="margin-top: 10px">Search</button>
                </div>
            </form>
            <div>

            </div>
        </div>
        <div class="col-12">
            <ul class="pagination justify-content-center">
                {% for i in all %}
{#                    <li class="page-item"><a class="page-link" href="{% url 'problems:problem_list' i %}">{{ i }}</a>#}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}