{% extends 'base.html' %}

{% block title %}
    contest {{ contest.contest_id1 }}
{% endblock %}

{% block private_work %}
    <div class="container">
        <h2 style="text-align: center">{{ contest.title }}</h2>
        <table class="table table-sm " style="margin-top: 20px">
            <thead>
            <tr>
                <th scope="col">开始时间</th>
                <th scope="col">描述</th>
                <th scope="col">参加人数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><h5><span class="badge badge-primary">{{ contest.add_time }}</span></h5></td>
                <td><h5><span class="badge badge-success">{{ contest.description }}</span></h5></td>
                <td><h5><span class="badge badge-info">{{ contest.people }}</span></h5></td>
            </tr>
            </tbody>
            <!--!你爸爸AK了 -->

            <div class="col-9">
                <h3>题目列表</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Raito(Accept/Submit)</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ploblem in problem_list %}
                        {% for cp in contest_problem_list %}
                            {% if forloop.counter == forloop.parentloop.counter %}
{#                                <p>{{ ploblem }}</p>#}
{#                                <p>{{ ploblem.problem_id }}</p>#}
{#                                <p>{{ ploblem.title }}</p>#}
{#                                <p>{{ cp }}</p>#}



                                <tr>
                                    <th scope="row">{{ problem.title }}</th>
                                    <td><a href="{% url 'problems:problem' 1000 %}">{{ problem.title }}</a></td>
                                    <td>{% widthratio cp.accepted_num cp.submiter 100 %}%({{ cp.accepted_num }}
                                        / {{ cp.submit_num }})
                                    </td>
                                    <td> {{ cp.title }} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div style="text-align: center;margin-top:20px;">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary active" href="#" role="button">Top</a>
                </div>
            </div>
    </div>
    {{ contest }}
    {{ problem_list }}
    {{ contest_problem_list }}
{% endblock %}